<a href="https://colab.research.google.com/github/goaldeer/pa11/blob/main/ch3/ch3_exercises_pa11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3-exercises_PA11.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [ ]:
# [Q1] Code  
shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [ ]:
# [Q2] Code


result = 0
Num = 3
counter = 1

while counter <= 1000:
  if counter % Num == 0:
    result = result + counter
  counter += 1

print(result)

166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [ ]:
# [Q3] Code

starLine = 5
counter = 1
star = "*"

while starLine >= counter:
  print(star)
  star = star + "*"
  counter += 1

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [2]:
# [Q4] Code

Num =[1] 
result = [Num + 1 for Num in range(100)]

for i in result:
  print(i);

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [ ]:
# [Q5] Code

test_result = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0

for i in test_result:
  sum = sum + int(i)

sum = sum / len(test_result)

print(int(sum))

79

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [3]:
# [Q6] Code

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [n * 2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10, 14, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [69]:
# [Q7] Code-1
average = 0

for i, x in zip(subjects, scores):
  average += x
  print(i, x)
  
average = average / len(scores)
print("\n평균 : " + str(average))

파이썬 91
영어 67
수학 88
물리 75

평균 : 80.25

In [38]:
# [Q7] Code-2

print("\n평균 : " + str(sum(scores, 0.0) / len(scores)))

평균 : 80.25

In [71]:
# [Q7] Code-3
average = 0

for i in scores:
  average = average + i / len(scores)
  
print("\n평균 : " + str(average))

평균 : 80.25

In [72]:
# [Q7] Code-4

# 입력한 과목만의 평균을 구하는 코드
# 입력값은 띄워서 입력, 순서 상관 없이

inputs = "파이썬, 영어, 수학, 물리"
# 직접 입력받으려면 아래의 코드를 활성화
#inputs = str(input("과목 사이를 띄워서 입력해주세요 : "))


############################ Colab 입력 양식 ############################
#@title 기본 제목 텍스트
inputs = "\uD30C\uC774\uC36C, \uC601\uC5B4, \uC218\uD559 ,\uBB3C\uB9AC" #@param {type:"string"}
############################ Colab 입력 양식 ############################



# 입력받았는지 여부
isThere = []
# 평균
average = 0

# 과목과 점수를 연동
subjectss = dict(zip(subjects, scores))

# 혹시 쉼표를 입력할 경우, 쉼표 제거
realInput = ""
for i in inputs:
  if i != ",":
    realInput = realInput + i

#입력받은 값을 리스트로 변환
act = 0
name = ""
for i in realInput:
  if i == " ":
    isThere.append(name)
    name = ""
  elif act == len(realInput) - 1:
    name = name + i
    isThere.append(name)
  else:
    name = name + i
  act += 1

inputCount = 0
for i in isThere:
  if i in subjectss.keys():
    average += subjectss[i]
    inputCount += 1

average = average / inputCount
print("\n평균 : " + str(average))

평균 : 80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. **github repo의 ch3 폴더에 연습문제 풀이 결과 노트를 올리시오.**
        - **제출노트: ch3-exercises-id.ipynb**