## ch2-exercises-PA11.ipynb

## Q1.
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

- 과목	점수
- 국어	80
- 영어	75
- 수학	55

In [2]:
dic = {'국어':80,'영어':75,'수학':55}

scoreAverage = round( (dic['국어'] + dic['영어'] + dic['수학']) / 3)

print("홍길동씨의 3개 과목의 평균은 {}점 입니다.".format(scoreAverage) )

홍길동씨의 3개 과목의 평균은 70점 입니다.

## Q2.
> 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

1. 판별 기준
2. 코드

In [10]:
# [Q2] Code
# 1. 판별 기준 : if문을 사용하여 13을 2로 나누었을때 나머지가 없이 나누어 지면 짝수, 그외의 조건(2로 나누었을때 나머지가 있으면)은 홀수로 판정

number = 13
line = ""

if number % 2 == 0:
    line = "짝수"
else:
    line = "홀수"

print("13은 %s입니다." % line)

13은 홀수입니다.

## Q3.
> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

- 문자열 슬라이싱 기법을 사용해 보자.

In [9]:
# [Q3] Code
Social_Security_Number= ("881120-1068234")

ssn_YEAR = Social_Security_Number[0:2]
ssn_MONTH = Social_Security_Number[2:4]
ssn_DATE = Social_Security_Number[4:6]
ssn_Second =Social_Security_Number[7:]

if ssn_Second[0] == "1" or ssn_Second[0] == "2":
    ssn_YEAR = "19" + ssn_YEAR;
else:
    ssn_YEAR = "20" + ssn_YEAR;
    
ssn_First = ssn_YEAR + ssn_MONTH + ssn_DATE

print("홍길동씨의 주민번호 연월일 부분은 {} 입니다".format(ssn_First))
print("홍길동씨의 주민번호 뒷자리는 {} 입니다".format(ssn_Second))

홍길동씨의 주민번호 연월일 부분은 19881120 입니다
홍길동씨의 주민번호 뒷자리는 1068234 입니다

## Q4.
> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

- pin = "881120-1068234"
- ※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
- 문자열포맷팅을 이용해서 성별을 출력하시오.

In [11]:
# [Q4] Code
pin = "881120-1068234"

genderCode = pin[7:8]
gender = ""

if gender == "2":
    gender = "여성"
else:
    gender = "남성"

print("%s입니다." % gender)

남성입니다.

## Q5.
> 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

- a = "a:b:c:d"

In [27]:
# [Q5] Code

a = "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

## Q6.
> \[1, 3, 5, 4, 2\] 리스트를 \[5, 4, 3, 2, 1\]로 만들어 보자.

- ※ 리스트의 내장 함수를 사용해 보자.

In [20]:
# [Q6] Code
a = [1, 3 ,5, 4, 2]

a.sort()

a.reverse()

print(a)

[5, 4, 3, 2, 1]

## Q7.
> \['Life', 'is', 'too', 'short'\] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

- ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [12]:
# [Q7] Code

a = ['Life', 'is', 'too', 'short']

str = " ".join(a)
print(str)

Life is too short

## Q8.
> (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

- ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [17]:
# [Q8] Code

#튜플 더하기
t1 = (1, 2, 3)
t2 = (4,)
t1 = t1 + t2
print(t1)

#리스트로 변환 후 .insert 함수로 4를 추가한 다음 다시 튜플로 변환 하는 방법
t1 = (1, 2, 3)
t11 = list(t1)
t11.insert(3,4) # 3에 4를 추가

t1 = tuple(t11)
print(t1)

(1, 2, 3, 4)
(1, 2, 3, 4)

## Q9.
> 다음과 같은 딕셔너리 a가 있다.

>> a = dict()  
>> a  
{}

- 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a\['name'\] = 'python'
2. a\[('a',)\] = 'python'
3. a\[\[1\]\] = 'python'
4. a\[250\] = 'python'

In [24]:
# [Q9] Code & explanation

a = dict()

a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python'
a[250] = 'python'

print("답 : 3번")
print("딕셔너리의 key값은 immutable한 값을 사용하여야 하는데, 3번에 사용된 a[[1]]의 key 값은 변하는 값(삽입, 제거) 이므로 사용할 수 없다.")

TypeError: unhashable type: 'list'

## Q10.
> 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
>> a = {'A':90, 'B':80, 'C':70}

- ※ 딕셔너리의 pop 함수를 사용해 보자.

In [28]:
# [Q10] Code

a = {'A':90, 'B':80, 'C':70}
b = a.pop('B')
print(b)

80

{'A': 90, 'C': 70}

## Q11.
> a 리스트에서 중복 숫자를 제거해 보자.
>> a = \[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5\]

- ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [39]:
# [Q11] Code

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

a1 = set(a)

a = list(a1)

print(a)

[1, 2, 3, 4, 5]

## Q12.
> 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

>> a = b = \[1, 2, 3\]  
>> a\[1\] = 4  
>> print(b)

In [82]:
# [Q12] Code & explanation

a = b = [1, 2, 3]

a[1] = 4

print("a의 주소는 {} 입니다.".format(id(a)))
print("b의 주소는 {} 입니다.".format(id(b)))
print(a)
print(b)
#먼저, 변수 이름과 값은 컴퓨터 메모리의 최적화를 위해 다른 곳에 저장된다. 다만, 위와 같은 방식으로 값을 선언하게 된다면, a 와 b 가 같은 메모리 주소를 참조한다.
#즉, a와 b는 참조형 변수로써, 같은 값-메모리 주소를 공유한다(같은 곳에서 값을 불러온다), 그래서 a 값을 수정하게 된다면, 같은 메모리 주소를 공유하는 b 값도 수정된다.

a의 주소는 2486957060480 입니다.
b의 주소는 2486957060480 입니다.
[1, 4, 3]
[1, 4, 3]
_______________________________________________
a의 주소는 2486957062400 입니다.
b의 주소는 2486939513792 입니다.
[1, 4, 3]
[1, 2, 3]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. **github repo의 ch2 폴더에 연습문제 풀이 노트를 올리시오.**
        - 제출노트: ch2-exercises-id.ipynb